.minimalist-field {
  &__label {
    font-weight: bold;
    display: block;
    margin-bottom: .5rem;
  }
  &.error {
    .minimalist-field__label {
      color: red;
    }
  }
  &.success {
    .minimalist-field__label {
      color: green;
    }
  }
}